name: Test

on:
  push:
  pull_request:

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      # actions/checkout v6.0.2
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd
      # oven-sh/setup-bun v2.1.2
      - uses: oven-sh/setup-bun@3d267786b128fe76c2f16a390aa2448b815359f3
        with:
          bun-version: latest
      # actions/cache v5.0.3
      - uses: actions/cache@cdf6c1fa76f9f475f3d7449005a359c84ca0f306
        with:
          path: ~/.bun/install/cache
          key: bun-${{ runner.os }}-${{ hashFiles('bun.lock') }}
          restore-keys: |
            bun-${{ runner.os }}-
      - run: bun install
      - run: bun test
