name: Test

on:
  push:
  pull_request:

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      # actions/checkout v6.0.2
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd
      # oven-sh/setup-bun v2.1.2
      - uses: oven-sh/setup-bun@3d267786b128fe76c2f16a390aa2448b815359f3
        with:
          bun-version: latest
      - run: bun install
      - run: bun test
